.poster-container.wrapper
    .disc
        img(src="img/disc.png", alt="Disc of the poster")
    .container
        h2.poster-invitation Melody Magazine Presents
        h1.poster-title Indie Music Festival
        .poster-invited
            h3 Features
                ul
                    li Jarred
                    li The Pixies
                    li Forge
                    li Prjct
                    li Bimo E.
                    li Overdose
                    li Mike Mann
                    li Ann Sue
                    li Sweet Pea
                    li Liz Song
        h3.poster-date 21 May 2018
        footer 
            p indiemusicfest2018.com <span> Oakland, CA</span>